<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <script src="https://cdn.tailwindcss.com"></script>
        <title> 
            {% block title%}{%endblock%} | Quotes
        </title>
        {%block style%}{%endblock%}
        <link rel = 'icon' href = "{% static 'image/favicon.ico'%}" type = 'image/x-icon'>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        {% block NavBar %}{% endblock %}
        {%block content%}{%endblock%}
        {% block footer%} {% endblock%}
    </body>
</html>