{% extends 'core/base.html' %}

{% block title%}Home Page{%endblock%}

{% block NavBar %}
<nav class = "py-3 px-3 flex border-b border-grey-200 justify-center items-center" >
    <a href = "{% url 'core:index' %}" class = "text-3xl font-semibold">Home Page</a>
</nav>
{% endblock %}

{%block footer%}
<footer class = "px-6 py-6 flex justify-between bg-black">
    <div class="w-2/3 pr-10">
        <h3 class = "mb-6 font-semibold text-gray-400 ">About</h3>
        <p class="text-lg text-gray-500">Lorem ipsum bla bla bla. Lorem ipsum bla bla bla. Lorem ipsum bla bla bla.</p>
    </div>
    <div class="w-1/3">
        <h3 class="mb-5 font-semibold text-gray-400">Menu</h3>

        <ul class="space-y-2">
            <li><a href="#" class="text-lg text-teal-500 hover:text-teal-700">About</a></li>
            <li><a href="#" class="text-lg text-teal-500 hover:text-teal-700">Contact</a></li>
            <li><a href="#" class="text-lg text-teal-500 hover:text-teal-700">Privacy policy</a></li>
            <li><a href="#" class="text-lg text-teal-500 hover:text-teal-700">Term of use</a></li>
            <li><a href="{% url 'Quote:Category' %}" class="text-lg text-teal-500 hover:text-teal-700">Category</a></li>
        </ul>
    </div>
</footer>
{% endblock %}